.link-all-component {
    margin-top: 5px;
    margin-bottom: 25px;

    .field {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        
        .field-title {
            display: flex;
            color: #666;
            text-transform: uppercase;
        }
        .field-inputs {
            display: flex;
            margin-top: 10px;
            
            label {
                display: flex;
                align-items: center;
                margin-right: 5px;
                margin-bottom: 0;
                
                input {
                    margin-right: 5px;
                }
            }
        }
    }
    .field-type-input {
        display: flex;
        flex-direction: column;
        margin-top: 11px;
    }
}

    
.field-link_type,
.field-link_instance_pk,
.field-link_content_type,
.field-link_url {
    display: none !important;
}

.module.aligned {
    display: contents;
}


.multiselect {
    .multiselect__input {
        border-radius: 0 !important;
        margin: 0;
        display: inline-block;
        padding: initial !important;
        border-left: none !important;
        height: 100% !important;
        width: 0 !important;
        top: 0;
        left: 0;
    }
    &--active {
        .multiselect__input {
            height: 100% !important;
            width: 100% !important;
            border: none !important;
        }
    }
    .multiselect__tags {
        padding-left: 5px;
        padding-bottom: 0;
        line-height: initial;
        margin: initial;
        .multiselect__single {
            font-size: 13px;
            padding-left: 0;
            margin-bottom: 0;
        }
    }
    .multiselect__content-wrapper {
        .multiselect__content {
            margin: 0;
            padding: 0;
            .multiselect__element {
                border: none;
                padding: 0;
                font-weight: normal;
                font-size: 13px;
                .multiselect__option {
                    padding: 5px 10px;
                    min-height: initial;
                    &--selected {
                        
                    }
                    &--highlight {
                        background: #f6f6f6;
                        color: initial;
                    }
                }
            }
        }
    }
}

.file-preview {
    margin-top: 15px;
    max-width: 150px;
}

.cms-admin-modal .module h2, .cms_modal-window .module h2 {
    font-size: 17px !important;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
